/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

div{
  padding: 10px;
}

#outer-box{
  border: 10px, solid, purple;
}
/* 
From solution we could have just done this below
#outer-box{
  background-color: purple;
} */
.inner-box{
 background-color: red;
}

.white-text{
  color: white;
}